

/************BODY PREDETERMINADO************/
body{
    margin-right: 0px;
    background-color: rgb(255, 255, 255);
}

/***header valores***/
header{
    background-color: rgb(255, 255, 255);
}


nav{
    margin-top: 0%;
    width: 100%;
    height: 100px !important;
   

    .nav-link{
        color: black;
    }
}

.divPrueba{
    margin-right: 50px;
}

.divPrueba a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.divPrueba a:hover, .divPrueba a:focus {
    background-size: 100% 2px;
}

/****valores del carousel******/
.d-block{
    width: 100%;
    max-height: 460px;
}

.carrousel{
    margin-top: 100px;
}



/*******seccion de presentacion**********/



.presentacion{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid black;
    background-color: white;

    .descripcion{
        margin-top: 30px;
        
    }
}

h2{
    text-align:center;
    margin-top: 20px;
}

/******cartas de presentacion******/

.cartasMaquinas{
    margin-top: 400px;
    margin-bottom: 200px;
    margin-right: 20px;
    margin-left: 20px;
    
    .card-img-top{
        width: 300px;
        height: 300px;
        margin-left: 70px;
        margin-top: 10px;
    }
}

.card-title{
    text-align: center;
}

.fotoValor{
    margin:30px;
}




/*******valores del footer**********/

footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.747) !important;
}


    .logoVectorizado{
        width: 150px;
        height: 150px;
    }

    .contacto-footer{
        margin-top: 20px;
    }







   