@charset "UTF-8";
/************BODY PREDETERMINADO************/
body {
  margin-right: 0px;
  background-color: white;
  background-image: url(../imagenes/fondo.jpeg);
}

/***header valores***/
header {
  background-color: white;
}

nav {
  margin-top: 0%;
  width: 100%;
  height: 100px !important;
}

.nav-link {
  color: black;
  font-family: 'open sans condensed';
  font-weight: 700;
  font-size: 20px;
}

.nav-item {
  padding: 30px;
}

.divPrueba {
  margin-right: 50px;
}

.divPrueba a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.divPrueba a:hover, .divPrueba a:focus {
  background-size: 100% 2px;
}

/****valores del carousel******/
.d-block {
  width: 100%;
  max-height: 460px;
}

.carrousel {
  margin-top: 100px;
}

/*******seccion de presentacion**********/
.presentacion {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  border: solid thin black;
  background-color: white;
}

.presentacion .descripcion {
  margin-top: 30px;
  font-family: 'open sans condensed';
  font-size: 20px;
  font-weight: 300;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-family: 'open sans condensed';
  font-weight: 700;
}

/******cartas de presentacion******/
.cartasMaquinas {
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  width: auto;
}

.cartasMaquinas .card-img-top {
  width: 300px;
  height: 300px;
  margin-left: 0px;
  margin-top: 10px;
}

.card-title {
  text-align: center;
}

section .seccionEquipos {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
}

section h1 {
  text-align: center;
}

/***prueba parallax***/
.parallax {
  position: relative;
  background: url(/imagenes/carousel/portada1.png) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  margin-top: 300px;
}

.titulo-nosotros {
  color: #fff;
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  opacity: 0.8;
}

/*pequeña prueba para parallax*/
.img-prueba {
  height: 400px;
  width: 400px;
}

.nosotros {
  margin: 100px 200px 100px 200px;
  border: solid thin black;
}

/*prueba para index*/
.displayBlock {
  width: 100%;
  position: relative;
  display: table;
  margin-bottom: 100px;
}

.displayBlock .main-post {
  float: left;
  width: 67%;
  background-color: #e7f3f9;
  display: table;
  height: 501.16px !important;
}

.displayBlock .main-post figure {
  padding-top: 105px;
}

.displayBlock .main-post figure {
  width: 50%;
  float: left;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e7f3f9;
  margin-top: 60px;
}

img {
  width: 100%;
}

.displayBlock .main-post .text-aside {
  width: 50%;
  padding: 0 50px;
  margin-top: 90px;
  background-color: #e7f3f9;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid black;
  padding-top: 10px;
  padding-bottom: 55px;
}

.displayBlock .main-post .text-aside h2 {
  width: 100%;
  max-width: 360px;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 35px;
}

.displayBlock .main-post .text-aside p {
  width: 100%;
  font-size: 16px;
  color: #363636;
  margin-bottom: 50px;
  max-width: 430px;
}

.displayBlock .main-post .text-aside a {
  padding: 5px 13px;
  font-weight: 600;
  background-color: #3399cc;
  border-radius: 4px;
  line-height: 16px;
  color: white;
}

.displayBlock .post-secundario {
  float: left;
  width: 33%;
  background-color: #d6ebf5;
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.displayBlock .post-secundario .container {
  margin: 90px 0;
  padding: 10px 40px 55px 40px;
  width: 100%;
}

.displayBlock .post-secundario h2 {
  width: 100%;
  max-width: 315px;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 35px;
  color: black;
}

.displayBlock .post-secundario p {
  width: 100%;
  font-size: 16px;
  color: #363636;
  margin-bottom: 50px;
  max-width: 430px;
}

.displayBlock .post-secundario a {
  padding: 5px 13px;
  font-weight: 600;
  background-color: #3399cc;
  border-radius: 4px;
  line-height: 16px;
  color: #ffffff;
}

/******prueba de footer*****/
div ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.copy {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #1c1c1c;
}

.copy #derechos {
  margin-top: 15px !important;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

div .col-md-4 {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  max-width: 33.33%;
  padding: 0px;
  margin-top: 20px;
}

footer h6 {
  font-size: 14px;
  color: #4a9ced;
  text-align: center;
  text-decoration: underline;
  margin-top: 15px;
  padding: 0px;
}

h5 {
  font-size: 14px !important;
  color: white;
  text-align: center;
}

footer ul li {
  color: white;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

footer .row {
  margin-top: 20px;
  --bs-gutter-x: 0rem;
}

footer {
  height: 300px;
  background-color: #242424 !important;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
}

.contenedor {
  margin-top: 10px;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
}

.iconos {
  height: 30px;
  width: 30px;
}

.logoVectorizado {
  width: 150px;
  height: 150px;
}

ul .row {
  width: 33.33%;
}

/**boton de whatsapp**/
.btn-whatsapp {
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 30px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

/****ACCORDION*****/
.fachero {
  margin-top: 200px;
}

/******seccion de contacto******/
.iconoUbicacion {
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-top: 60px;
}

.contacto {
  margin-top: 150px !important;
}

.contenedorInformacion {
  margin-top: 0px;
  padding: 50px;
}

h2 {
  text-align: start;
}
/*# sourceMappingURL=main.css.map */